.app {
  height: 100vh;
  background: rgb(95, 167, 190);
}

.SelectTeam {
  height: auto;
  width: auto;
  background: white;
  border: 30px;
  align-items: center;
}

.fixturesList {
  margin-top: 4px;
}

.HomeSelectorButton {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
}
